  <div id="authenticate" data-role="view"  data-layout="main" data-show="app.HomeViewModel.viewModel.showAuthPage" data-before-show="app.HomeViewModel.viewModel.show" data-model="app.HomeViewModel.viewModel" >
            <div id="container" class="snap-content">

                <section class="clearfix">
                <div class="sbi">
                    <h3>Existing SBI Customer</h3>
                    <div class="escoption">

                        <div class="bank_account_container">
                            <div class="option">
                                <input type="radio" checked="checked" class="css-radiobox" id="add_bank11" name="bank_statement11"><label class="css-radio-label radGroup2" for="add_bank11"><span>Yes</span></label>
                            </div>
                            <div class="option">
                                <input type="radio" class="css-radiobox" id="click_upload11" name="bank_statement11"><label class="css-radio-label radGroup2" for="click_upload11"><span>No</span></label>
                            </div>
                        </div>
                    </div>
                    
                    <h3>Authenticate Yourself</h3>   
                    
                    <div class="bank_account_container leftSid">
                        <div class="option">
                            <input type="radio" class="css-rbox css-radiobox" id="add_bank22" name="bank_statement22" value="1"><label class="css-radio-label radGroup2" for="add_bank22"><span>Using Netbanking</span></label>
                        </div>
                    <hr class="blue_full"/>
                        <div class="option">
                            <input type="radio" class="css-rbox css-radiobox" id="click_upload22" name="bank_statement22" value="0"><label class="css-radio-label radGroup2" for="click_upload22"><span>Using Debit Card</span></label>
                        </div>
                    </div>
                    <div id="net" class="disable">
                        <h3>Netbanking Details</h3>
                        <div class="form_fields">
                            <div class="field_full">
                                <label>Username</label>
                                <input type="text" Placeholder="Username" />
                            </div>

                            <div class="field_full">
                                <label>Password</label>
                                <input type="password" Placeholder="Password" />
                            </div>
                            <input class="orange_btn" data-bind="click:navigateToEligibilityPage" type="submit" value="Submit" />
                        </div>
                    </div>
                    <div id="debitcard" class="disable">
                        <h3>SBI Debit card details</h3>
                        <div class="form_fields">
                            <div class="field_full">
                                <label>Debit card #</label>
                                <input type="text" Placeholder="Card Number" />
                            </div>

                            <div class="field_full">
                                <label>PIN</label>
                                <input type="text" maxlength="3" Placeholder="PIN" />
                            </div>
                            <input class="orange_btn" data-bind="click:navigateToEligibilityPage" type="submit" value="Submit" />
                        </div>
                       
                    </div>
                    
                </div>
                </section>
            </div>
        </div>