<div id="eligibility2" data-role="view"  data-layout="main" data-before-show="app.HomeViewModel.viewModel.show" data-model="app.HomeViewModel.viewModel">
    <div id="container" class="snap-content">
        <section class="clearfix">
            <h3>
                Congratulations you are eligible<br>
                for the loan
            </h3>
            <div class="amount_table">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>Loan Amount</td>
                        <td>Rs. 200,000</td>
                    </tr>
                    <tr>
                        <td>Tenure</td>
                        <td>3 Years</td>
                    </tr>
                    <tr>
                        <td>Intrest Rate</td>
                        <td>13.75%</td>
                    </tr>
                </table>
            </div>
            <div class="amount_note">
                Monthly Payment - <b>Rs. 6,811/-</b>
            </div>
            <div class="amount_full">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>&nbsp;</td>
                        <td>Loan Amount</td>
                        <td>Rs. 200,000</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Total Interest</td>
                        <td>Rs. 45,205</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Processing Fee</td>
                        <td>Waived Off</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div class="amount_note2">Total Cost - Rs. 2,45,205</div>
            <input class="orange_btn" type="submit" data-bind="click:navigateTooanReferencePage" value="Accept" />
        </section>
    </div>
</div>
