<div id="eligibility2" data-role="view"  data-layout="main" data-before-show="app.HomeViewModel.viewModel.show" data-model="app.HomeViewModel.viewModel">
<div id="container" class="snap-content">
  <section class="clearfix">
  	<h3>Get Eligibility</h3>
        <div class="form_fields">
            <div class="field_full">
                <label>Company</label>
                   <div class="select-style">            
                       <select>
                            <option>ACC Ltd.</option>
                            <option>Ambuja Cements Ltd.</option>
                            <option>Asian Paints Ltd.</option>
                            <option>Axis Bank Ltd.</option>
                            <option>Bajaj Auto Ltd.</option>
                            <option>Bank Of Baroda</option>
                            <option>Bharat Heavy Electricals Ltd.</option>
                            <option>Bharat Petroleum Corporation Ltd.</option>
                            <option>Bharti Airtel Ltd.</option>
                            <option>Cairn India Ltd.</option>
                            <option>Cipla Ltd.</option>
                            <option>Coal India Ltd.</option>
                            <option>Dr. Reddys Laboratories Ltd.</option>
                            <option>GAIL (India) Ltd.</option>
                            <option>Grasim Industries Ltd.</option>
                            <option>HCL Technologies Ltd.</option>
                            <option>HDFC Bank Ltd.</option>
                            <option>Hero MotoCorp Ltd.</option>
                            <option>Hindalco Industries Ltd.</option>
                            <option>Hindustan Unilever Ltd.</option>
                            <option>Housing Development Finance Corporation Ltd.</option>
                            <option>ICICI Bank Ltd.</option>
                            <option>Idea Cellular Ltd.</option>
                            <option>IDFC Ltd.</option>
                            <option>IndusInd Bank Ltd.</option>
                            <option>Infosys Ltd.</option>
                            <option>ITC Ltd.</option>
                            <option>Kotak Mahindra Bank Ltd.</option>
                           <option selected="selected">Larsen & Toubro Ltd.</option>
                           <option>Lupin Ltd.</option>
                           <option>Mahindra & Mahindra Ltd.</option>
                           <option>Maruti Suzuki India Ltd.</option>
                           <option>NMDC Ltd.</option>
                           <option>NTPC Ltd.</option>
                           <option>Oil & Natural Gas Corporation Ltd.</option>
                           <option>Power Grid Corporation Of India Ltd.</option>
                           <option>Punjab National Bank</option>
                           <option>Reliance Industries Ltd.</option>
                           <option>Sesa Sterlite Ltd.</option>
                           <option>State Bank Of India</option>
                           <option>Sun Pharmaceutical Industries Ltd.</option>
                           <option>Tata Consultancy Services Ltd.</option>
                           <option>Tata Motors Ltd.</option>
                           <option>Tata Power Company Ltd.</option>
                           <option>Tata Steel Ltd.</option>
                           <option>Tech Mahindra Ltd.</option>
                           <option>Ultratech Cement Ltd.</option>
                           <option>Wipro Ltd.</option>
                           <option>Yes Bank Ltd.</option>
                           <option>Zee Entertainment Enterprises Ltd.</option>
                        </select>
                   </div>
            </div>
            <div class="field_full">
              <div class="fields_cont">
                <div class="field_half">
                   <label>Joining date</label>
                   <div class="select-style">
                       <input type="text" id="datepicker" Placeholder="Select Date" />
                    </div>
                </div>
                <div class="field_half">
                    <label>Total work experience</label>
                    <div class="select-style">
                        <select>
                            <option>Over 1 Year</option>
                            <option>Over 2 Years</option>
                            <option>Over 3 Years</option>
                            <option>Over 4 Years</option>
                            <option selected="selected">Over 5 Years</option>
                            <option>Over 6 Years</option>
                            <option>Over 7 Years</option>
                            <option>Over 8 Years</option>
                            <option>Over 9 Years</option>
                            <option>Over 10 Years</option>
                        </select>
                    </div>
                </div>
              </div>
            </div>
             <div class="field_full">
                    <label>Monthly salary (take home)</label>
                    <input type="text" Placeholder="Salary"  />
            </div>
            <div class="field_full">
            <label>Total EMI currently paying</label>
              <div class="fields_cont">
                <div class="field_half">
                       <input type="text" placeholder="None" />
                </div>
              </div>   
            </div>
           <div class="field_full">
           <input class="css-checkbox" name="i_authorise" id="i_authorise" type="checkbox" /><label class="css-label cb0" for="i_authorise"></label><label class="check_txt" for="i_authorise">I authorize SBI &amp; its representatives to call me or SMS me with reference to my application. This consent will override any registration for DNC / NDNC. Credit at the sole discretion of SBI.</label>
           </div>
        </div>
        <input class="orange_btn" data-bind="click:navigateToCouldGetPage" type="submit" value="Proceed" />
    
</section>
</div></div>


