<div id="eligibility2" data-role="view"  data-layout="main" data-model="app.HomeViewModel.viewModel">
<div id="container" class="snap-content">
  <section class="clearfix">
  	<h3>Get Eligibility</h3>
        <div class="form_fields">
            <div class="field_full">
                <label>Company</label>
                   <div class="select-style">            
                       <select>
                            <option selected="selected">L &amp; T</option>
                            <option>Company 2</option>
                        </select>
                   </div>
            </div>
            <div class="field_full">
              <div class="fields_cont">
                <div class="field_half">
                   <label>Joining date</label>
                   <div class="select-style">
                        <select>
                            <option selected="selected">Since 2011</option>
                        </select>
                    </div>
                </div>
                <div class="field_half">
                    <label>Total work experience</label>
                    <div class="select-style">
                        <select>
                            <option selected="selected">Over 6 Years</option>
                        </select>
                    </div>
                </div>
              </div>
            </div>
             <div class="field_full">
                    <label>Monthly salary (take home)</label>
                    <input type="text" Placeholder="Salary"  />
            </div>
            <div class="field_full">
            <label>Total EMI currently paying</label>
              <div class="fields_cont">
                <div class="field_half">
                       <input type="text" placeholder="None" />
                </div>
              </div>   
            </div>
           <div class="field_full">
           <input class="css-checkbox" name="i_authorise" id="i_authorise" type="checkbox" /><label class="css-label cb0" for="i_authorise"></label><label class="check_txt" for="i_authorise">I authorize HDFC Bank &amp; its representatives to call me or SMS me with reference to my application. This consent will override any registration for DNC / NDNC. Credit at the sole discretion of HDFC Bank.</label>
           </div>
        </div>
        <input class="orange_btn" data-bind="click:navigateToCouldGetPage" type="submit" value="Proceed" />
    
</section>
</div></div>


