<div id="eligibility2" data-role="view"  data-layout="main" data-before-show="app.HomeViewModel.viewModel.show" data-model="app.HomeViewModel.viewModel">
    <div id="container" class="snap-content">  
  <section class="clearfix">
  	<h1><a>Loan Offer<span class="bold">+</span></a></h1>
    <hr class="white_full"/>
        <div class="form_fields">
            <div class="field_full">
                <label>Pan Card No.</label>
                <input type="text" Placeholder="Pan Card No." value="BXNPB585JM" class="white_bg_input" />
            </div>
             <div class="field_full">
                <label>First Name</label>
                <input type="text" Placeholder="First Name" value="Sunil" class="blue_bg_input" />
            </div>
             <div class="field_full">
                <label>Middle Name</label>
                <input type="text" Placeholder="Middle Name" value="Kumar" class="blue_bg_input" />
            </div>
             <div class="field_full">
                <label>Last Name</label>
                <input type="text" Placeholder="Last Name" value="Singh" class="blue_bg_input" />
            </div>
             <div class="field_full">
                <label>Address 1</label>
                <input type="text" Placeholder="Address 1" Value="IX, 302, N.N. Market" class="blue_bg_input" />
            </div>
             <div class="field_full">
                <label>Address 2</label>
                <input type="text" Placeholder="Address 2" Value="Sector 3 Rohini, Delhi" class="blue_bg_input" />
            </div>
             <div class="field_full">
                 <label>Pin Code</label>
                <input type="text" Placeholder="Pin Code" value="110085" class="blue_bg_input" />
            </div>
            <div class="field_full">
              <div class="fields_cont">
                <div class="field_half">
                    <label>State</label>
                    <input type="text" Placeholder="State" value="Delhi" class="blue_bg_input" />
                </div>
                <div class="field_half">
                    <label>City</label>
                    <input type="text" Placeholder="City" value="Delhi" class="blue_bg_input" />
                </div>
              </div>
            </div>
             <div class="field_full">
              <label>Phone No.</label>
              <input type="text" Placeholder="Phone No." value="08010554737" class="blue_bg_input" />
            </div>
            
            
        </div>
        <input class="orange_btn" data-bind="click:navigateToProvideBankStatementPage" type="submit" value="Proceed" />
</section>
</div>
    
</div>
