<div id="eligibility2" data-role="view"  data-layout="main" data-before-show="app.HomeViewModel.viewModel.show" data-model="app.HomeViewModel.viewModel">
    <div id="container" class="snap-content">
        <section class="clearfix">
            <h3>
                Your Loan Reference<b class="display_blk"># xxxxx</b>
            </h3>
            <div class="white_bg_txt">
                <b class="smbld">Congratulations for your interest<br/>in bank's personal loan</b>
                <span>A Bank representative will contact in next 2 working hours to complete the next steps</span>
            </div>
            <div class="bank_steps">
                <div class="step">
                    <div class="no">Step 1</div>
                    <div class="icon">
                        <img src="styles/images/call_icon.svg" />
                    </div>
                    <div class="details">
                        Bank Representative will Call<span>or</span>
                        <a class="blue_btn">Schedule a Call</a>
                    </div>
                </div>
                <div class="step">
                    <div class="no">Step 2</div>
                    <div class="icon">
                        <img src="styles/images/pen_icon.svg" />
                    </div>
                    <div class="details">Get Documents Signed</div>
                </div>
                <div class="step">
                    <div class="no">Step 3</div>
                    <div class="icon">
                        <img src="styles/images/amount_icon.svg" />
                    </div>
                    <div class="details">Disburse loan to your Account</div>
                </div>
            </div>
        </section>
    </div>
</div>
