<div id="eligibility2" data-role="view"  data-layout="main" data-before-show="app.HomeViewModel.viewModel.show" data-model="app.HomeViewModel.viewModel">
    <div id="container" class="snap-content">  
  <section class="clearfix">
  	<h1><a>Loan Offer<span class="bold">+</span></a></h1>
    <hr class="white_full"/>
        <div class="form_fields">
            <div class="field_full">
                <input type="text" Placeholder="Pan Card No." class="white_bg_input" />
            </div>
             <div class="field_full">
                <input type="text" Placeholder="First Name" class="blue_bg_input" />
            </div>
             <div class="field_full">
                <input type="text" Placeholder="Middle Name" class="blue_bg_input" />
            </div>
             <div class="field_full">
                <input type="text" Placeholder="Last Name" class="blue_bg_input" />
            </div>
             <div class="field_full margin_tp_10">
                <input type="text" Placeholder="Aadhar Connect" class="white_bg_input" />
            </div>
             <div class="field_full">
                <input type="text" Placeholder="Address 1" class="blue_bg_input" />
            </div>
             <div class="field_full">
                <input type="text" Placeholder="Address 2" class="blue_bg_input" />
            </div>
             <div class="field_full">
                <input type="text" Placeholder="Pin Code" class="blue_bg_input" />
            </div>
            <div class="field_full">
              <div class="fields_cont">
                <div class="field_half">
                      <input type="text" Placeholder="State" class="blue_bg_input" />
                </div>
                <div class="field_half">
                        <input type="text" Placeholder="City" class="blue_bg_input" />
                </div>
              </div>
            </div>
             <div class="field_full">
              <input type="text" Placeholder="Phone No." class="blue_bg_input" />
            </div>
            
            
        </div>
        <input class="orange_btn" data-bind="click:navigateToProvideBankStatementPage" type="submit" value="Proceed" />
</section>
</div>
    
</div>
